$headline: #fffffe;
$paragraph: #94a1b2;
$button: #7f5af0;
$button-darker: #5d3eba;
$background: #16161a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Barlow", sans-serif;
  background-color: $background;
  color: $headline;
  text-align: center;
}
header {
  background-color: $background;
  position: fixed;
  top: 0;
  width: 100%;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      li {
        list-style-type: none;
      }
    }
    a {
      color: $headline;
      text-decoration: none;
      padding: 1rem;
      font-size: 1.8rem;
      padding: 1rem;
      &:hover {
        text-decoration: underline 0.1rem $headline;
      }
    }
  }
}
.container {
  width: 100%;
  margin: 0 auto;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/hero-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 4rem;
  margin: 1.5rem auto;
  font-weight: 700;
}
h2 {
  font-size: 3rem;
  margin: 1.5rem auto;
}
h3 {
  font-size: 2.5rem;
  margin: 1.5rem auto;
}
h4 {
  font-size: 2.25rem;
  margin: 1.5rem auto;
}
p {
  font-size: 2rem;
  margin: 1rem auto;
  color: $paragraph;
}
button {
  font-size: 1.8rem;
  margin: 1.5rem auto;
  display: block;
  width: 50%;
  padding: 1rem;
  color: $headline;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: $button;
  border: 0;
  border-radius: 0.25rem;
  &:hover {
    cursor: pointer;
    background-color: $button-darker;
  }
  a {
    color: $headline;
    text-decoration: none;
  }
}
a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
img {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 0.25rem;
}

@media screen and (min-width: 500px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 700px) {
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    width: 98%;
  }
}
@media screen and (min-width: 1500px) {
  header {
    nav {
      a {
        font-size: 2.5rem;
      }
    }
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2.7rem;
  }
  p {
    font-size: 2.25rem;
  }
  button {
    font-size: 2rem;
  }
}
