* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Barlow", sans-serif;
  background-image: url(/pages/javascript/34_tinyZimbo/img/low-poly-grid-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: #333;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #fff;
  width: 100%;
}
h1 {
  font-size: 3rem;
  margin: 1rem auto;
}
h2 {
  font-size: 2rem;
  margin: 0.25rem auto;
}
p {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}
label {
  font-size: 2rem;
}
input {
  padding: 1rem;
  display: block;
  margin: 0.5rem auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border: 0;
  border-radius: 0.25rem;
  font-family: "Barlow", sans-serif;
}
button {
  padding: 1rem;
  margin: 0.5rem auto;
  border: 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 0.25rem;
  width: 100%;
  font-family: "Barlow", sans-serif;
  background-color: #353535;
  color: #fff;
  &:hover {
    background-color: #585858;
    cursor: pointer;
  }
}
.top {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.bottom {
  padding: 1rem;
  width: 100%;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.budget {
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
  border-radius: 0.25rem;
  width: 95%;
}
.displays {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  text-align: left;

  .displays-balance,
  .displays-income,
  .displays-expense {
    margin: 1rem auto;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 0;
    border-radius: 0.25rem;
    width: 100%;
  }
  .log {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    margin: 0.25rem auto;
  }
}

@media screen and (min-width: 500px) {
  main {
    width: 70%;
  }
}
@media screen and (min-width: 600px) {
  main {
    width: 60%;
  }
}
@media screen and (min-width: 700px) {
  main {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  main {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
