* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Barlow", sans-serif;
  background-image: url(img/layered-waves-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  width: 95%;
  padding: 1.5rem;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
  border-radius: 0.25rem;
}
.recipe {
  border: 0;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin: 1rem auto;
}
img {
  border-radius: 0.25rem;
  border: 0;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
input {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border: 0;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  width: 100%;
  display: block;
}
button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  width: 100%;
  display: block;
  &:hover {
    cursor: pointer;
    background-color: #1b1b1b;
    color: #fff;
  }
}
h1 {
  margin: 1rem auto;
  font-size: 3rem;
}
h2 {
  margin: 1rem auto;
  font-size: 2.5rem;
}
p,
a {
  margin: 1rem auto;
  font-size: 2rem;
}

@media screen and (min-width: 700px) {
  main {
    width: 65%;
  }
  .app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  main {
    width: 80%;
  }
  .app {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .app {
    grid-template-columns: repeat(4, 1fr);
  }
}
